
body{
  font-family: 'Karla', sans-serif;
}

.navbar {
      font-family: 'Gloria Hallelujah', cursive;
      background-color: #C9C9E9 ;
      margin-bottom: 0;
      border-radius: 0;
      color: black;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */

#slides{
  width: 1200px;
  height: 500px;
}
  
 /* rating css  */
 .a{
  color: orange;
}

.star {
  font-size: 20px;
}

.gap{
  margin-top: 20px;
  margin-bottom: 10px;
}

#rating {
  font-family: 'Gloria Hallelujah', cursive;
}
label {
  font-family: 'Gloria Hallelujah', cursive;
}
i{
  color: red;
}

/* header and nav */

.header{
  background-color:  #C9C9E9;
  font-family: 'Gloria Hallelujah', cursive;
}

#logo {
  width:  100px;
  height: 100px;
}
#headingdata{
  display: block;
  font-size: 30px;
}

/* main section  */
.border{
  border: solid 1px #C9C9E9;
}

h5{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  font-weight: bold;

}

.top{
  margin-top: 5px;
}
#img{
  margin-top: 5px;
}
small>[id]{
  display: none;
}

/* let's picture disappear */

@media screen and (max-width: 767px){
 #img{
  display: none;
} 
}




/* footer css  */

#myfoot {
  background-color: #C9C9E9;
  color: black;
  font-family: 'Gloria Hallelujah', cursive;
}


